/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 60ch) 1fr;
  column-gap: 1em;

  color: black;
  font-size: 16px;
  word-break: break-all;

  padding-block-end: 2em;

  position: relative;
}

main > * {
  grid-column: 2/3;
}

section {
  color: #fff;
  padding-block: 2em;
  --line-length: 40;
}

section > h1 {
  --k: 2;
}

section > * {
  --k: 1;
  font-size: calc(var(--k) * 1em);
  max-inline-size: max(50%, calc(var(--line-length) / var(--k) * 1ch));
  text-wrap: balance;
}

section::before {
  content: "";
  grid-column: 1/-1;
  grid-row: 1/2;
  background: #23424a;
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

h2 {
  padding-block-start: 1.5em;
}
