* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main {
  background: #23424a;
  color: white;

  inline-size: 80%;
  margin-inline: auto;

  padding: 2em;

  font-size: 16px;
  --line-length: 60;
}

main > h1 {
  --k: 2;
}

main > * {
  --k: 1;
  font-size: calc(var(--k) * 1em);
  max-inline-size: max(50%, calc(var(--line-length) / var(--k) * 1ch));
  text-wrap: balance;
}
